<div class="container mt-5">
	<div class="row">
		<h2>Post details</h2>
	</div>
</div>

<hr>

<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-2">
			<small class="text-muted">Post id:</small>  
		</div>
		<div class="col-9">
			<%= @sm_array['id'] %>
		</div>
	</div>

	<div class="row">
		<div class="col-2">
			<small class="text-muted">Post body:</small> 
		</div>
		<div class="col-9">
			<%= @sm_array['post_body'] %>
		</div>
	</div>	

	<div class="row">
		<div class="col-2">
			<small class="text-muted">Post creating date:</small> 
		</div>
		<div class="col-9">
			<%= @sm_array['created_date'] %>
		</div> 
	</div>
</div>
<hr>


				
<div class="container mt-5">
	<div class="row">
		<div class="col-6 pl-0">
			<form action="/details/<%= @sm_array['id'] %>" method="POST">
				<div class="form-group">
				 	<label class="text-decoration-none" for="comment">Comments:</label>
				 	<br>
				 	<% @comments.each do |comment| %>
				 		<small><%= comment['comment'] %></small><br>
				 		<small class="text-muted"><%= comment['comment_date'] %></small><br>
				 		<hr>
				 	<% end %>
				 	<textarea name="comment" class="form-control" id="comment" rows="6" placeholder="Add your comments here" autofocus></textarea>
				</div>

				<button type="submit" class="btn btn-primary btn-lg">Send</button>
			</form>
		</div>
	</div>
</div>
					

