<div class="container mt-5">
	<div class="row">
		<h2>Post details</h2>
	</div>
</div>

<hr>

<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-2">
			<small class="text-muted">Post id:</small>  
		</div>
		<div class="col-9">
			<%= @row[0] %>
		</div>
	</div>

	<div class="row">
		<div class="col-2">
			<small class="text-muted">Post body:</small> 
		</div>
		<div class="col-9">
			<%= @row[1] %>
		</div>
	</div>	

	<div class="row">
		<div class="col-2">
			<small class="text-muted">Post creating date:</small> 
		</div>
		<div class="col-9">
			<%= @row[2] %>
		</div> 
	</div>
</div>
<hr>

<% @c_as_hash.each do |comment| %>
	<p>
		<%= comment %>
	</p>
<% end %>
				
	<div class="container mt-5">
		<div class="row">
			<div class="col-6 pl-0">
				<form action="/details/<%= @row[0] %>" method="POST">
					<div class="form-group">
					 	<label class="text-decoration-none" for="comment">Comments:</label>
					 	<textarea name="comment" class="form-control" id="comment" rows="6" placeholder="Add your comments here" autofocus></textarea>
					</div>

					<button type="submit" class="btn btn-primary btn-lg">Send</button>
				</form>
			</div>

		</div>
	</div>
					

